  /**======================HEADER======================**/
    #header{
      display: flex;
    }

    #servernameUndAktivität{
      flex: 1;
      margin-right: 200px;
    }
  
    #logoServer{
      width: 200px;
      object-fit: contain;
      margin-top: 80px;
    }

    @media (max-width: 1500px){
      #logoServer{
        width: 15vw;
        object-fit: contain;
        margin-top: 60px;
      }

      #servernameUndAktivität{
        margin-right: 15vw;
      }
    }

    #istServerAktiv{
      text-align: center;
      margin-top: 25px;
      flex: 1;
    }

    #imgServerAktivität{
      height: 68px;
    }


  /**======================TITLE======================**/
    h1{
        margin: 40px 0 20px;
    }

  /**======================SUBTITLE======================**/
    #aktiveSpielerOnline{
        color: var(--primary);
        font-size: 48px;
    }

    #totaleSpielerMöglich{
        font-size: 48px;
    }

    #playercount{
        margin: auto;
        font-size: 48px;
    }

  /**======================GRAPH======================**/
    #graphenTotal{
        display: grid;
        grid-template-columns: 22% 46% 22%;
        gap: 5%;
  } 
  
    #mainPart{
        width: 100%;
        margin: clamp(10px, 2vh, 70px) auto 0;
    }
  
    #BoxMainChart{
        border: 10px solid var(--third);
        border-radius: 45px;
        height: clamp(10px, 30vh, 400px);
        display: flex;
    }

    #currentCapacity{
        margin-left: 10px;
    }

    #capacityPercent{
        text-align: left;
    }

    #apiChart{
      padding: 7px;
      align-items: center;
    }
    

  /**======================SIDE GRAPH======================**/
    #graphenTotal{
      margin-bottom: 50px;
    }
  
    #graphenSide{
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        height: 100%;
        /* padding: 22px 0 58px; */
    }

    .textChartSide{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0px 8px 3px;
    }

    .titleChartSide{
      flex: 1;
      text-align: left;
    }

    .verhältnisPlayersPLUS{
      color: var(--primary);
    }

    .verhältnisPlayersMINUS{
      color: red;
    }
  
    #BoxSideChartONE{
      border: 6px solid var(--third);
      border-radius: 14px;
      height: clamp(80px, 10vh, 120px);
      width: 100%;
      justify-self: end;
    }

    #sideChartONE{
  
    }

    #TotalSideChartTWO{
      margin-top: clamp(10px, 1vh, 50px);
    }

    #BoxSideChartTWO{
      border: 6px solid var(--third);
      border-radius: 14px;
      height: clamp(80px, 10vh, 120px);
      width: 100%;
      justify-self: end;
    }

    #sideChartTWO{

    }

    #TotalSideChartTHREE{
      margin-top: clamp(10px, 1vh, 50px);
    }

    #BoxSideChartTHREE{
      border: 6px solid var(--third);
      border-radius: 14px;
      height: clamp(80px, 10vh, 120px);
      width: 100%;
      justify-self: end;
    }

    #sideChartTHREE{

    }

  /**======================FOOTER======================**/
    
  #inhaltFooter{
        margin-top: 25px;
    }

  #footerAktivitaet{
    padding-top: 25px;
  }
  
  
  /**======================BACKGROUND======================**/

  #img_playerLevel{
      padding: 30px 0 ;
      position: relative;
      margin-top: 5vh;
      height: 100px;
  }