* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --primary: #52A535;
    --secondary:  #2B641C;
    --third: #3C8526;
    --shade:#3D3938;
    --background:#171615;

}

@font-face {
    font-family: MinecraftFont;
    src: url(../Fonts/Minecrafter.Alt.ttf);
}


body{
    background-color: var(--background);
}


h1 {
color: white;
text-align: center;
font-family: MinecraftFont;
font-size: clamp(42px, 9vw, 120px);
font-weight: 400;
}


h2{
color: white;
font-family: "Noto Sans";
font-size: 48px;
text-align: center;
font-weight: 700;
}

h3{
color: var(--secondary);
font-family: "Noto Sans";
font-size: 32px;
font-weight: 700;
}


h4{
color: white;
font-family: "Noto Sans";
font-size: 24px;
text-align: center;
}

p{
color: #FFF;
font-family: "Noto Sans";
font-size: 16px;
font-weight: 700;
text-align: center;
}

footer{
    background-color: var(--shade);
    /* height: 75px; */
    height: 8vh;
    width: 100%;

}

header{
  height: 30vh;
  width: 95vw;
  max-width: 1500px;
  margin: 0 auto;
}

main {
  width: 95vw;
  max-width: 1500px;
  margin: 0 auto;
  height: 62vh;
}
