* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --primary: #52A535;
    --secondary:  #2B641C;
    --third: #3C8526;
    --shade:#3D3938;
    --background:#171615;

}


body{
    background-color: var(--background);
}


h1 {
color: white;
text-align: center;
font-family: "Minecrafter Alt";
font-size: 120px;
font-weight: 400;
}


h2{
color: white;
font-family: "Noto Sans";
font-size: 48px;
text-align: center;
font-weight: 700;
}

h3{
color: var(--secondary);
font-family: "Noto Sans";
font-size: 32px;
font-weight: 700;
}


h4{
color: white;
font-family: "Noto Sans";
font-size: 24px;
text-align: center;
}

p{
color: #FFF;
font-family: "Noto Sans";
font-size: 16px;
font-weight: 700;
text-align: center;
}

footer{
    background-color: var(--shade);
    height: 75px;
    
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}


main {
  width: 95vw;
  max-width: 1300px;
  margin: 0 auto;
}
